.main{
    background-image: url("image/Dr\ Mikey\ 3.jpg");
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:scroll;
    background-position:bottom;
}